//- -------------- Home Page ---------------- -//
//- ----------------------------------------- -//

doctype html
html(lang='en')
  head
    include ../includes/_head
  
  body
    //- content goes here
    include ../includes/_sample-content
     
    include ../includes/_footer 
      
