// ---------------------------------------- //
// --------------- TEST ------------ //
// ---------------------------------------- //

.main__footer
    background #fff
    width 300px
    display block