// ---------------------------------------- //
// ------------ GENERIC CONTENTS ---------- //
// ---------------------------------------- //


@font-face {
    font-family: 'ProximaNova-SemiboldItalic';
    src:url('../fonts/ProximaNova-SemiboldItalic/ProximaNova-SemiboldItalic.eot?pkajpm');
    src:url('../fonts/ProximaNova-SemiboldItalic/ProximaNova-SemiboldItalic.eot?pkajpm#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-SemiboldItalic/ProximaNova-SemiboldItalic.ttf?pkajpm') format('truetype'),
        url('../fonts/ProximaNova-SemiboldItalic/ProximaNova-SemiboldItalic.woff?pkajpm') format('woff'),
        url('../fonts/ProximaNova-SemiboldItalic/ProximaNova-SemiboldItalic.svg?pkajpm#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
