/* GLOBAL VARIABLES */
$size-desktop             = 1800px
$size-desktop-in          = 1020px
$vp-desktop-min           = 1025px

$vp-tablet-min            = 769px
$vp-tablet-max            = 1024px
$size-tablet-in           = 820px

$vp-mobile-min            = 320px
$vp-mobile-max            = 768px


//------------------ COLOR VARIABLES -------------------//
$bg-color       = #5985b1


/* ADD GENERAL COLORS */


//------------- FONTS ---------------//

$font-normal                = Arial, sans-serif, 'Helvetica Neue', Helvetica


//------------------- BRAKEPOINTS -------------------//
media_queries = {
    mobile  : "only screen and (min-width: "+ $vp-mobile-min +") and (max-width: "+ $vp-mobile-max +")",
    tablet  : "only screen and (min-width: "+ $vp-tablet-min +") and (max-width: "+ $vp-tablet-max +")",
    desktop : "only screen and (min-width: "+ $vp-desktop-min +")"
}







